@use "colors";
@use "mixins";
@use "variables" as v;

:root {
    @include mixins.theme-vars(colors.$theme-universal);
    box-sizing: border-box;
}

.light {
    @include mixins.theme-vars(colors.$theme-light);
}

.dark {
    @include mixins.theme-vars(colors.$theme-dark);
}

body {
    background-color: var(--background-color);
    color: var(--primary-text);
    transition: background-color .75s ease, color .75s ease;
    margin: 0;
    overflow-x: hidden;


}



header {
    background-color: var(--background-color);
}

#user_name, #user_email, #message {
    background-color: var(--background-surface);
    @include mixins.depth-3;
    transition: background-color .75s ease, color .75s ease, border .75s ease;

}

.wp-data img {
    width: 100%;
}
