@use "colors";
@use "mixins";
@use "variables" as v;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    @include mixins.theme-vars(colors.$theme-universal);
}

.light {
    @include mixins.theme-vars(colors.$theme-light);
}

.dark {
    @include mixins.theme-vars(colors.$theme-dark);
}

body {
    background-color: var(--background-color);
    color: var(--primary-text);
    transition: background-color .75s ease, color .75s ease;
    margin: 0;
    overflow-x: hidden;


}



header {
    background-color: var(--background-color);
    height: 0;
}


#logo {
    width: 4rem;
    height: 4rem;
    position: relative;
    z-index:9999;
    fill: var(--primary-text);
    
    circle {
        fill: var(--nav-background);
    }


    @media (min-width: 50rem) {
        width: 5rem;
        height: 5rem;

        circle {
            fill: var(--background-color);
        }
    }

}

img {
    @include mixins.image-adjustments;
}


.wp-data img {
    width: 100%;
}

main {
    min-height: 100svh;
}


/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
  }
  
//   /* Hide scrollbar for IE, Edge and Firefox */
// body {
//     -ms-overflow-style: none;  /* IE and Edge */
//     scrollbar-width: none;  /* Firefox */
//   }


// temporary fix;

.featured-work img {
    width: 100%;
}
