.contact-form {
    background: lightblue;
    min-height: 100svh;
    padding: 1rem;

}

.contact-heading {
    text-align: center;
}

.contact-form form {
    max-width: 37.5rem;
}

input, textarea {
    width: 100%;
}