@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
    font-family: "Edo";
    src: local("Edo"),
    url("../fonts/edo-webfont.woff") format("woff");
  }

//   font-sizes

:root {
    --fs-h1: 5rem;
    --fs-h1v2: 3.75rem;
    --fs-h2: 3.125rem;
    --fs-h3: 2rem;
    --fs-h4: 1.5rem;
    --fs-p1: 1rem;
    --fs-p2: .875rem;

    @media (min-width: 50rem) {
        --fs-h1: 6.75rem  ;
        --fs-h1v2: 5rem;
        --fs-h2: 3.4375rem;
        --fs-h3: 2.5rem;
        --fs-h4: 2rem;
        --fs-p1: 1.25rem;
        --fs-p2: 1rem;
    }
}

h1, h2 {
    font-family: "Edo", sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 1rem;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}