footer {
    background-color: var(--primary-color);
    padding: .5rem 1rem;
    color: var(--text-on-primary);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    // justify-content: space-between;

    @media (min-width: 40rem) {
        flex-direction: row;
        justify-content: space-between;
        min-height: 4.5rem;
    }

}

.footer-icons {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2rem;
    cursor: pointer;

    @media (min-width: 40rem) {
        margin-bottom: 0;
    }

    svg {
        width: 3rem;
        fill: var(--button-text);
        // margin: 0 0 0 1rem;
    }
}